.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement dans un flex container */
  justify-content: center; /* Centre les éléments verticalement */
  min-height: 100vh; /* Hauteur minimale pour prendre toute la hauteur de la vue */
  margin: 0;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-image: url("./Quizboost.jpg");
  background-blend-mode: multiply; /* Mélange la couleur de fond et l'image de texture */
}

.wrap {
  max-width: 1400px;
}
.x-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 auto;
  margin-left: 18px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: orange;
  margin-right: 100px;
  margin-bottom: 10px;
  background-image: url("./newlike.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;

  &:last-child {
    margin-right: 0;
  }
}

.icon1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: orange;
  margin-right: 100px;
  margin-bottom: 10px;
  background-image: url("./newshare.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;

  &:last-child {
    margin-right: 0;
  }
}

.icon2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: orange;
  margin-right: 100px;
  margin-bottom: 10px;
  background-image: url("./newgift.png");
  background-size: 60px 60px;
  background-repeat: no-repeat;

  &:last-child {
    margin-right: 0;
  }
}

.plusone {
  color : white;
  font-size: x-large;
  text-shadow:
        3px 3px 0 #000,   /* Contour noir large */
        -1px -1px 0 #000, /* Contour noir en haut à gauche */
        1px -1px 0 #000,  /* Contour noir en haut à droite */
        -1px 1px 0 #000,  /* Contour noir en bas à gauche */
        1px 1px 0 #000,   /* Contour noir en bas à droite */
        0 0 8px #ffd700,  /* Lueur externe intense */
        0 0 12px #ffcf40, /* Lueur externe moyenne */
        0 0 20px #ffbf00, /* Lueur interne plus large */
        0 0 30px #ffbf00, /* Lueur encore plus large */
        0 0 40px #ffbf00, /* Lueur la plus large */
        0 0 50px #ffbf00; /* Lueur extrêmement large */
}

.count-container {
  display: flex;
  margin-top: 20px;
}

li {
  list-style: none;
}

.TestLights {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.play-button,
.pause-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner un effet de profondeur */
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.play-button:hover,
.pause-button:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translateY(-100px) rotateX(180deg) rotateY(0);
  }
  50% {
    transform: translateY(0) rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: translateY(-100px) rotateX(0) rotateY(180deg);
  }
}

/* CSS pour le cube */
/* .cube {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear;
  top: 0px;
  z-index: 99999;
} */
/* 
.cube-handle {
  width: 150px;
  height: 150px;
  position: relative;
} */

/* .cube .face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cube .front  { 
  transform: translateZ(50px);
  animation: pulseBlue 2s infinite alternate;
}

.cube .back   { 
  transform: rotateY(180deg) translateZ(50px); 
  animation: pulseRed 2s infinite alternate;
} */
/* 
.cube .right  { transform: rotateY(90deg) translateZ(50px); }
.cube .left   { transform: rotateY(-90deg) translateZ(50px); }
.cube .top    { transform: rotateX(90deg) translateZ(50px); }
.cube .bottom { transform: rotateX(-90deg) translateZ(50px); } */

/* @keyframes rotate {
  from { transform: rotateX(0) rotateY(0); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}

@keyframes pulseBlue {
  0% { background-color: rgb(162, 0, 255); }
  50% { background-color: rgb(255, 238, 0); }
  100% { background-color: rgba(43, 255, 0, 0.5); }
}

@keyframes pulseRed {
  0% { background-color: rgb(255, 208, 0); }
  50% { background-color: rgb(255, 0, 0); }
  100% { background-color: rgba(255, 0, 0, 0.5); }
} */

.blob {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  margin: 40px 40px;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}
.thank-you-messages {
  position: relative; /* Permet de positionner les étoiles par rapport à ce conteneur */
  background-color: blanchedalmond;
  border: solid 2px black;
  font-style: italic;
  font-family: cursive;
  font-size: large;
  margin-bottom: 5px;
  width: 300px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur radius, and color */
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
      both,
    roll-in-left 0.6s ease-out both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both,
    roll-in-left 0.6s ease-out both;
}

.thank-you-messages::before,
.thank-you-messages::after {
  content: "★";
  position: absolute;
  color: gold;
  font-size: 20px;
  animation: move-up 0.7s ease-out infinite;
}

.thank-you-messages::before {
  top: 50%;
  left: 30%;
  animation-delay: 0s;
}

.thank-you-messages::after {
  top: 50%;
  left: 70%;
  animation-delay: 0.2s;
}

/* Vous pouvez copier-coller ce bloc et ajuster pour .star1, .star2, ... dans votre HTML */
.thank-you-messages .star {
  position: absolute;
  content: "★";
  color: gold;
  font-size: 20px;
  animation: move-up 0.7s ease-out infinite;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur radius, color */
}

.thank-you-messages .star1 {
  top: 60%;
  left: 10%;
  animation-delay: 0.4s;
}

.thank-you-messages .star2 {
  top: 40%;
  left: 50%;
  animation-delay: 0.6s;
}

.thank-you-messages .star3 {
  top: 30%;
  left: 20%;
  animation-delay: 0.8s;
}

.thank-you-messages .star4 {
  top: 70%;
  left: 80%;
  animation-delay: 1s;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px); /* Ajustez selon le besoin */
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }

  70% {
    transform: scale(4);
    box-shadow: 0 0 0 10px rgb(255, 255, 255);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-2 13:4:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-2 13:6:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px); /* Ajustez la distance selon le besoin */
    opacity: 0;
  }
}
