.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement dans un flex container */
  justify-content: center; /* Centre les éléments verticalement */
  min-height: 100vh; /* Hauteur minimale pour prendre toute la hauteur de la vue */
  margin: 0;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  background-image: url('./Quizboost.jpg'); 
  background-blend-mode: multiply; /* Mélange la couleur de fond et l'image de texture */
}

.count-container {
  display: flex;
  margin-top: 20px;
}

li{
  list-style: none;
}

.TestLights {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.play-button, .pause-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour donner un effet de profondeur */
  margin: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.play-button:hover, .pause-button:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0%, 100% { 
      transform: translateY(0) rotateX(0) rotateY(0);
  }
  25% { 
      transform: translateY(-100px) rotateX(180deg) rotateY(0);
  }
  50% { 
      transform: translateY(0) rotateX(180deg) rotateY(180deg);
  }
  75% { 
      transform: translateY(-100px) rotateX(0) rotateY(180deg);
  }
}

/* CSS pour le cube */
.cube {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 30px;
  transform-style: preserve-3d;
  animation: rotate 5s infinite linear;
  top: 0px;
  z-index: 99999;
}
/* 
.cube-handle {
  width: 150px;
  height: 150px;
  position: relative;
} */

.cube .face {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cube .front  { 
  transform: translateZ(50px);
  animation: pulseBlue 2s infinite alternate; /* Animation bleue */
}

.cube .back   { 
  transform: rotateY(180deg) translateZ(50px); 
  animation: pulseRed 2s infinite alternate; /* Animation rouge */
}

.cube .right  { transform: rotateY(90deg) translateZ(50px); }
.cube .left   { transform: rotateY(-90deg) translateZ(50px); }
.cube .top    { transform: rotateX(90deg) translateZ(50px); }
.cube .bottom { transform: rotateX(-90deg) translateZ(50px); }

@keyframes rotate {
  from { transform: rotateX(0) rotateY(0); }
  to { transform: rotateX(360deg) rotateY(360deg); }
}

/* Keyframes pour l'animation de pulsation */
@keyframes pulseBlue {
  0% { background-color: rgb(162, 0, 255); }
  50% { background-color: rgb(255, 238, 0); }
  100% { background-color: rgba(43, 255, 0, 0.5); }
}

@keyframes pulseRed {
  0% { background-color: rgb(255, 208, 0); }
  50% { background-color: rgb(255, 0, 0); }
  100% { background-color: rgba(255, 0, 0, 0.5); }
}


.blob {
	background: rgb(0, 0, 0);
	border-radius: 50%;
	margin: 10px;
	height: 20px;
	width: 20px;
  display: flex;
  justify-content: center;
  margin: 40px 40px;

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgb(255, 255, 255);
	}

	70% {
		transform: scale(4);
		box-shadow: 0 0 0 10px rgb(255, 255, 255);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}